html(lang="en")
	head
		title LAN Manager

		script(src="js/jquery-2.1.4.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")

		link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="css/custom.css")
		

	body
		header
			h1 LAN Manager

		div.current_games
			
			
			

